html, body { height: 100%; }

.flex-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#383838, #282828);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 800px;
}

.board {
    width: 700px;
    height: 700px;
    display: grid;
    background-color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.651);
    border-radius: 2px;
    margin: 0px 50px 0px;
}
.board:hover {
    cursor: crosshair;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    color: #f0f0f0;
    font-size: 30px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: -20px;
}

.top-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-buttons {
    display: flex;
}

.low-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 650px;
    border-radius: 2px;
    align-items: center;
    justify-content: space-between;
}

.value-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 400px;
}

.picked-color {
    width: 48px;
    height: 48px;
    margin-bottom: 50px;
    border-radius: 4px;
    background-color: #000000;
    transition: all 300ms ease;
    border: 2px solid #f0f0f0;
    background-size: cover;
}

.picked-color:hover{
    transform:scale(1.1);
  }

p {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    color: #f0f0f0;
    font-size: 45px;
    padding: 0px;
    margin: 10px;
}

.slider-container {
    width: 600px;
    margin-top: -20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #535353;
    margin-bottom: 80px;
  }
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #dddddd;
    cursor: pointer;
    transition: all 300ms ease;
}

.slider::-webkit-slider-thumb:hover {
    transform:scale(1.15);
}

.color:hover{
    transform:scale(1.2);
  }

button {
    border-radius: 2px;
    text-align: center;
    transition: all 300ms ease;
    width: 50px;
    height: 50px;
    border: 2px solid #f0f0f0;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background-color: #fa3c4c;
    transition: all 300ms ease;
    border: 2px solid #f0f0f0;
}

button:hover {
    cursor: pointer;
    transform:scale(1.1);
}

.blackButton {
    background-color: black;
}

.eraserButton {
    background-color: white;
}

.rainbowButton {
    background: linear-gradient(110deg, #fd3b3b, #4bffff, #ffed4b);
}

.rainbowButton:hover {
    background: linear-gradient(110deg, #724bff, #4bffff, #ff4b69);
}

.resetButton {
    background: linear-gradient(110deg, #333333 60%, #888888 60%);
    font-size: 30px;
    font-weight: 900;
    color: #f0f0f0;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.603);
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

.input {
    width: 50px;
}